/*
  🎨 Color Palette
  E8C547 (Saffron): Accents, highlights
  30323D (Jet): Primary background
  4D5061 (Davy’s Gray): Cards, secondary sections
  5C80BC (Glaucous): Links, headers
  CDD1C4 (Ash Gray): Neutral backgrounds
*/
/* === HTML === */
body {
  background-color: #CDD1C4; /* Use any color you want */
}


/* === NAVBAR === */
.custom-navbar {
  padding: 2rem 0;
}

.custom-navbar .nav-link {
  font-size: 1rem;
  color: #ffffff;
  font-weight: 600;
  padding: 1rem 1rem;
  text-decoration: none;
}

.custom-navbar .nav-link:hover {
  color: #E8C547;
}

.custom-navbar .container {
  background-color: #30323D;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}

/* Mobile */
@media (max-width: 576px) {
  .custom-navbar {
    display: none;
  }
}

/* === HERO === */








/* === EXTRAS === */
/* Underline animation */
.anim-underline-fx {
  background-image: linear-gradient(to right, #E8C547, #E8C547);
  background-size: 0 3px;
  background-repeat: no-repeat;
  background-position: bottom;
  transition: background-size 0.3s;
}

.anim-underline-fx:hover {
  background-size: 100% 3px;
}

.anim-bg-gradient {
  background: linear-gradient(120deg, #E8C547, #5C80bC, #CDD1C4);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position .5s;
}

.anim-bg-gradient:hover {
  background-position: 0 0;
}

/* Image perspective */
.div-persp {
  perspective: 1500px; /* 👈 create a 3D space */
}

.img-persp {
  transform: translateZ(20px) rotateX(20deg); /* 👈 transform the element */
}